* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body,
input,
textarea,
select {
  font-size: 1.6rem;
  font-family: Arial, Helvetica, sans-serif;
}
body,
#root {
  margin: 0;
  height: 100vh;
}
.grid-container {
  display: grid;

  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 1fr 5rem;
  height: 100%;
}

header {
  padding: 0.5rem;
  grid-area: header;
  background-color: aqua;
}
header a {
  text-decoration: none;
}
header a:hover {
  color: #f88000;
}
main {
  grid-area: main;
}
footer {
  grid-area: footer;
  background-color: aqua;
  align-items: center;
  display: flex;
  justify-content: center;
  text-align: center;
}
